header {
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .box {
        width: 1500px;
        font-size: 19px;

        ul {
            gap: 30px;
        }

        p {
            font-size: 23px;
            cursor: pointer;
        }
    }
}
